.navbar {
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.nav-link {
  margin-right: 12px;
  color: #080808 !important;
}

.nav-link:hover {
  color: #b1fe81 !important;
}


.navbar-brand {
  font-weight: bold;
  color: #fff !important;
}

.btn-link {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.navbar {
  animation: gradientShift 10s ease infinite;
  background: linear-gradient(270deg, #79c3fe, #f875b0, #20c997);
  background-size: 600% 600%;
  color: white;
}


@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
